<h1><%= @recipe.name %></h1>

<p><%= @recipe.description %></p>

<dl>
  <dt>Perparation Time:</dt>
  <dd><%= @recipe.preparation_time %> minutes</dd>
  <dt>Servings yielded:</dt>
  <dd><%= @recipe.servings_yielded %></dd>
</dl>

<p><%= link_to 'View All', recipes_path %></p>