<h1><%= @recipe.name %></h1>

<p><%= @recipe.description %></p>

<dl>
  <dt>Perparation Time:</dt>
  <dd><%= @recipe.preparation_time %> minutes</dd>
  <dt>Servings yielded:</dt>
  <dd><%= @recipe.servings_yielded %></dd>
</dl>

<h2>Ingredients</h2>

<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li>
      <strong><%= ingredient.amount %> <%= ingredient.unit %></strong> <%= ingredient.name %>
      <small>
        <%= link_to 'remove', recipe_ingredient_path(@recipe, ingredient), method: :delete %>
        <%= link_to 'edit', edit_recipe_ingredient_path(@recipe, ingredient) %>
      </small> 
    </li>
  <% end %>
</ul>

<%= link_to '+ Add Ingredient', new_recipe_ingredient_path(@recipe) %>

<p><%= link_to 'Delete Recipe', recipe_path(@recipe), method: :delete %></p>

<hr>

<p><%= link_to 'View All', recipes_path %></p>